nav a {
  background-image: linear-gradient(90deg, #aa7bc3, #aa7bc3);
  background-repeat: no-repeat;
  background-size: 0% 3px;
  background-position: left bottom;
  cursor: pointer;
  text-decoration: none;
  transition: background-size 500ms ease;
}

nav a:hover {
  background-size: 100% 3px;
  color: #aa7bc3;
}

div svg:hover {
  color: #aa7bc3;
  cursor: pointer;
}
